@import "~bulma/sass/utilities/all"
@import url('https://fonts.googleapis.com/css?family=Helvetica Neue:400,700')
$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$table-border: #e7e7e7
$table-head-background-color: #00a546
$table-foot-background-color: #00a546
$table-foot-cell-color: whitesmoke
$table-head-cell-color: whitesmoke

@import "~bulma/sass/elements/table"
@import "~bulma/sass/elements/button"
@import "~bulma/sass/elements/form"

.page-box
  padding: 5px 10px

.filter-columns
  display: flex
  //flex-basis: 200px
  width: 100%
  justify-content: space-between
  align-items: center
  font-size: medium
  padding-top: 7.5px
  padding-bottom: 7.5px

.filter-column
  min-width: 15%

.filter-label
  text-align: right
  min-width: 10%

.table-header
  background: #00a546
  width: 900px
  color: whitesmoke
  th
    color: whitesmoke

.header-column
  background: #00a546
  color: whitesmoke
  table
    th
      color: whitesmoke

.group-header
  //font-size: medium
  background: whitesmoke
  line-height: 2rem

.stats-header

  color: whitesmoke
  height: 2em
  th
    background-color: #00883A

.stats-row
  font-size: medium
  background: whitesmoke
  td
    font-size: larger
    height: 2em

.holding-row
  width: 900px
  table
    table-layout: fixed
    text-align: right

.holding-totals-row
  font-weight: bold
  td
    padding-right: 10px
    border-top:
      width: 1px
      color: black
      style: solid

.holding-footer
  font-weight: bolder

.totals-row
  font-weight: bold
  font-size: larger

  td
    padding-right: 10px
    border-top:
      width: 1.5px
      color: black
      style: solid

table
  text-align: right
  border-collapse: collapse
  th
    color: whitesmoke
    background: #00a546
    font-size: smaller
    width: 900px

  td
    font-size: smaller


.flex-cell
  text-align: right

.left-cell
  text-align: left

.asset
  text-align: left
  width: 30%

@media only screen and (max-width: 767px)
  .table-container
    th, td
      width: auto
      display: block
      border: 0

  th
    border-left: solid 1px
    border-right: solid 1px
    border-bottom: solid 1px

  td
    border-left: solid 1px $table-border
    border-right: solid 1px $table-border
    border-bottom: solid 1px $table-border

  .flex-row
    width: 100%


