@import "~bulma/sass/utilities/all"
@import url('https://fonts.googleapis.com/css?family=Helvetica Neue:400,700')

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$table-border: #e7e7e7
$table-head-background-color: #00a546
$table-foot-background-color: #00a546
$table-foot-cell-color: $white
$table-head-cell-color: $white

@import "~bulma/sass/elements/table"

body
  width: 100%
  height: 100%
  margin: 4px
  padding: 0

caption
  display: none

.holding-header
  background: #00a546
  width: 900px
  color: whitesmoke

.table-header
  background: #00a546
  width: 900px
  color: whitesmoke

  th
    color: whitesmoke

.table-header-row
  color: whitesmoke

.table-header-column
  color: whitesmoke
  text-align: right

.header-column
  background: #00a546
  color: whitesmoke
  table
    th
      color: whitesmoke

.stats-row
  background: #69a569

.stats-header
  background: #69a569
  color: white
  height: 2em


.holding-row
  width: 900px
  table
    table-layout: fixed
    text-align: right

.holding-footer
  font-weight: bolder
  table
    border-top-width: 2px
    border-top-style: solid
    border-top-color: black

.totals-row
  font-weight: bold
  font-size: larger
  color: black

table
  text-align: right

  th
    color: whitesmoke
    background: #00a546
    font-size: smaller
    width: 900px

  td
    font-size: smaller


.flex-cell
  text-align: right

.left-cell
  text-align: left

.asset
  text-align: left
  width: 30%

@media only screen and (max-width: 767px)
  .table-container
    th, td
      width: auto
      display: block
      border: 0

  th
    border-left: solid 1px
    border-right: solid 1px
    border-bottom: solid 1px

  td
    border-left: solid 1px $table-border
    border-right: solid 1px $table-border
    border-bottom: solid 1px $table-border

  .flex-row
    width: 100%


