server:
  port: 9500
  servlet:
    context-path: '/api'

management:
  server:
    port: 9501
    base-path: /
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"

# Requires bearer auth in default config
# http://localhost:9501/actuator/circuitbreakerevents


marketdata:
  url: "http://localhost:9510/api"

auth:
  uri: "http://keycloak:9620/auth"
  realm: "bc-dev"

spring:
  application:
    name: bc-position
  security:
    oauth2:
      registration:
        custom:
          client-id: bc-service
          client-secret: not-set
          authorization-grant-type: client_credentials
      resourceserver:
        jwt:
          jwk-set-uri: "${auth.uri}/realms/${auth.realm}/protocol/openid-connect/certs"

endpoints:
  default.web.enabled: true

logging:
  level:
    root: debug
    javax: error
    sun: error
    io: error
    #io.github.resilience4j: debug
    netflix: error
    jdk: error
    feign: fatal
    com:
      netfix: error
      beancounter: debug
      zaxxer: error
    org:
      springframework: error
      hibernate: error
      apache: error
      postgres: error

feign:
  client:
    config:
      default:
        # Loooong because of API limits with data providers
        readTimeout: 50000
        connectTimeout: 5000
        errorDecoder: com.beancounter.common.exception.SpringFeignDecoder

resilience4j.circuitbreaker:
  configs:
    default:
      failureRateThreshold: 3
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 3
      slidingWindowType: TIME_BASED
      waitDurationInOpenState: 5s
      registerHealthIndicator: true
      recordFailurePredicate: com.beancounter.common.exception.RecordFailurePredicate

resilience4j.retry:
  configs:
    default:
      maxRetryAttempts: 3
      waitDuration: 20s
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      retryExceptions:
        - org.springframework.web.client.HttpServerErrorException
        - java.io.IOException
        - feign.RetryableException
      ignoreExceptions:
        - com.beancounter.common.exception.BusinessException
    instances:
      bcData:
        baseConfig: default
        maxRetryAttempts: 3
